workDir = "/home/kammj2/scratch/scrnallt/work"
report.overwrite = true

params {
    sample_sheet = null
    ref_fa = null
    repeats_bed = null
    outdir = null
    chroms = '1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y'
    defaultParallelCpus = 4
    clusterQueueSize = 100
    tinyMem = "4G"
    lowMem = "16G"
    midMem = "32G"
    highMem = "64G"
    parallelCores = 4
    veryParallelCores = 16
}
report {
    enabled = true
    file = "${params.outdir}/report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
    overwrite = true
    fields = "task_id,tag,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar"
}
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

process {
    cpus = 1
    memory = MemoryUnit.of(params.lowMem)

    withLabel: tinyMem {
        memory = MemoryUnit.of(params.tinyMem)
    }
    withLabel: lowMem {
        memory = MemoryUnit.of(params.lowMem)
    }
    withLabel: midMem {
        memory = {MemoryUnit.of(params.midMem) * task.attempt}
    }
    withLabel: highMem {
        memory = {MemoryUnit.of(params.highMem) * task.attempt}
    }
    withLabel: parallel {
        cpus = params.parallelCores
    }
    withLabel: veryParallel {
        cpus = params.veryParallelCores
    }
    withLabel: shortJob {
        time = 15.m
    }
}
profiles {
    local {
        process {
            executor = 'local'
        }
    }
    shpc {
        executor {
            name = 'slurm'
            queueSize = params.clusterQueueSize
        }
        process {
            executor = 'slurm'
            clusterOptions = "--nodes=1 --qos=3h"
            //queue = 'batch_cpu'
            //errorStrategy = 'retry'
            maxRetries = 2

            withLabel: longJob {
                clusterOptions = "--nodes=1 --qos=1d"
            }
        }
    }
}
