workDir = "/home/kammj2/scratch/scrnallt/work"
report.overwrite = true

params {
    sample_sheet = null
    ref_fa = null
    repeats_bed = null
    outdir = null
    defaultParallelCpus = 4
    defaultMemory = 16.GB
    clusterQueueSize = 100
    midJobMemMult = 2
    bigJobCpusMult = 4
    bigJobMemMult = 4
}
report {
    enabled = true
    file = "${params.outdir}/report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
    overwrite = true
    fields = "task_id,tag,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar"
}
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

profiles {
    local {
        process {
            executor = 'local'
            cpus = params.defaultParallelCpus
            memory = params.defaultMemory
        }
    }
    shpc {
        executor {
            name = 'slurm'
            queueSize = params.clusterQueueSize
        }
        process {
            executor = 'slurm'
            clusterOptions = "--nodes=1 --qos=3h"
            queue = 'batch_cpu'
            cpus = params.defaultParallelCpus
            memory = {params.defaultMemory * task.attempt}
            errorStrategy = 'retry'
            maxRetries = 2
        }
    }
}
